<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Desenho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-row class="alinhar-linha">
    <ion-col size="2" >
      <ion-button expand="full" (click)="switchMode('draw')">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-col> 
    <ion-col size="2">
      <ion-button expand="full" (click)="switchMode('select')">
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-button>
    </ion-col> 
    <!-- <ion-col size="2">
      <ion-button expand="full" (click)="switchMode('zoom')">
        <ion-icon name="resize-outline"></ion-icon>
      </ion-button>
    </ion-col>  -->
    <ion-col size="2">
      <ion-button expand="full" (click)="switchMode('text')">
        <ion-icon name="text-outline"></ion-icon>
      </ion-button>
    </ion-col> 
    <ion-col size="2">
      <ion-button expand="full" (click)="switchMode('erase')">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-col> 
   
  </ion-row>
  <ion-row class="alinhar-linha">
    <ion-col size="2">
      <ion-button expand="full" (click)="switchMode('circle')">
        <ion-icon name="ellipse-outline"></ion-icon>
      </ion-button>
    </ion-col> 
    <ion-col size="2">
      <ion-button expand="full" (click)="switchMode('rectangle')">
        <ion-icon name="square-outline"></ion-icon>
      </ion-button>
    </ion-col> 
    <ion-col size="2">
      <ion-button expand="full" (click)="switchMode('line')">
        <ion-icon name="remove-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button expand="full" (click)="addNote()">
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button expand="full" (click)="switchMode('download')">
        <ion-icon name="cloud-download-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button expand="full" (click)="triggerFileInput()">
        <ion-icon name="cloud-upload-outline"></ion-icon>
      </ion-button>
      <input #fileInput hidden type="file" (change)="handleImageUpload($event)" accept="image/*">
    </ion-col>
    
  </ion-row>
  <ion-row class="alinhar-linha">
    <ion-col size="1">
      <ion-button size="small" expand="full" color="warning" (click)="changeBrushColor('yellow')">
      </ion-button>
    </ion-col> 
    <ion-col size="1">
      <ion-button size="small" expand="full" color="success" (click)="changeBrushColor('green')">
      </ion-button>
    </ion-col> 
    <ion-col size="1">
      <ion-button size="small" expand="full" color="secondary" (click)="changeBrushColor('blue')">
      </ion-button>
    </ion-col>
    <ion-col size="1">
      <ion-button size="small" expand="full" color="danger" (click)="changeBrushColor('red')">
      </ion-button>
    </ion-col>
    <ion-col size="1">
      <ion-button size="small" expand="full" color="dark" (click)="changeBrushColor('black')">
      </ion-button>
    </ion-col>    
  </ion-row>
  <!-- Canvas onde o Fabric.js desenha -->
  <div class="canvas-container">
    <canvas id="c"></canvas>
  </div>
</ion-content>