<ion-header>
  <ion-toolbar>
    <ion-title>Controle de Canvas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="alinhar-linha">
    <ion-col size="2" >
      <ion-button expand="full" color="primary" (click)="switchMode('draw')">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-col> 
    <ion-col size="2">
      <ion-button expand="full" color="secondary" (click)="switchMode('select')">
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-button>
    </ion-col> 
    <ion-col size="2">
      <ion-button expand="full" color="tertiary" (click)="switchMode('zoom')">
        <ion-icon name="resize-outline"></ion-icon>
      </ion-button>
    </ion-col> 
    <ion-col size="2">
      <ion-button expand="full" color="success" (click)="switchMode('text')">
        <ion-icon name="text-outline"></ion-icon>
      </ion-button>
    </ion-col> 
    <ion-col size="2">
      <ion-button expand="full" color="danger" (click)="switchMode('erase')">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-col> 
   
  </ion-row>
  <ion-row class="alinhar-linha">
    <ion-col size="2">
      <ion-button expand="full" color="warning" (click)="switchMode('circle')">
        <ion-icon name="ellipse-outline"></ion-icon>
      </ion-button>
    </ion-col> 
    <ion-col size="2">
      <ion-button expand="full" color="primary" (click)="switchMode('rectangle')">
        <ion-icon name="square-outline"></ion-icon>
      </ion-button>
    </ion-col> 
    <ion-col size="2">
      <ion-button expand="full" color="secondary" (click)="switchMode('line')">
        <ion-icon name="remove-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button expand="full" color="secondary" (click)="addNote()">
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button expand="full" color="secondary" (click)="switchMode('download')">
        <ion-icon name="cloud-download-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button expand="full" color="secondary" (click)="triggerFileInput()">
        <ion-icon name="cloud-upload-outline"></ion-icon>
      </ion-button>
      <input #fileInput hidden type="file" (change)="handleImageUpload($event)" accept="image/*">
    </ion-col>
    
  </ion-row>

  <!-- Canvas onde o Fabric.js desenha -->
  <div class="canvas-container">
    <canvas id="c"></canvas>
  </div>
</ion-content>