.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.alinhar-linha{
  display: flex;
  justify-content: center;
}

ion-icon{
  height: 25px;
  width: 25px;
}